<div hx-target="this">
    <div id="attributes">
        <div><label>Name:</label><input type="text" name="name" value={{.Name}}></input></div>
        <div><label>Age:</label><input type="text" name="age" value={{.Age}}></input></div>
        <div><label>Race:</label><input type="text" name="race" value={{.Race}}></input></div>
        <div><label>Class:</label><input type="text" name="class" value={{.Class}}></input></div>
        <div><label>Background:</label><input type="text" name="background" value={{.Background}}></input></div>
    </div>

    <button hx-put="/character/basicattributes/{{.Id}}" hx-target="closest div" hx-swap="outerHTML" hx-include="#attributes" >
        Save
    </button>    
    <button hx-get="/character/{{.Id}}">
        Cancel
    </button>
</div>
